.nav-item{
    padding: 15px;
  }
  
  /* .row-img {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    padding: 5% !important;
    
    
  
  } */

  #pic1 {
    
    padding: 3% !important;
    width: 300px;

  }

  #pic2 {
    width: 300px
    !important;

  }
  .mynav a {
  
    border-bottom: 5px solid transparent;
  
  }
  
  
  .active a:hover {
  border-bottom: 2px solid #517A7E;
  }
  